# Chapter 5: Getting Started with pandas

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### A Series can be thought of as a fixed-length, ordered dictionary, as it is a mapping of index values to data values.

In [3]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

### Consequently, a Series can be converted back to a dictionary with its to_dict method.

In [4]:
obj3.to_dict()

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

### Naming a series and index.

In [5]:
obj3.name = "population"
obj3.index.name = "state"

In [6]:
obj3

state
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
Name: population, dtype: int64