# Chapter 5: Getting Started with pandas

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### A Series can be thought of as a fixed-length, ordered dictionary, as it is a mapping of index values to data values.

In [3]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

### Consequently, a Series can be converted back to a dictionary with its to_dict method.

In [4]:
obj3.to_dict()

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

### Naming a series and index.

In [5]:
obj3.name = "population"
obj3.index.name = "state"

In [6]:
obj3

state
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
Name: population, dtype: int64

## Essential Functionality

### Reindexing

In [8]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=["d", "b", "a", "c"])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [10]:
obj2 = obj.reindex(["a", "b", "c", "d", "e"])
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

### Reindexing and forward filling the data

In [12]:
obj3 = pd.Series(["blue", "purple", "yellow"], index = [0, 2, 4])
obj3

0      blue
2    purple
4    yellow
dtype: object

In [13]:
obj3.reindex(np.arange(6), method="ffill")

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object